body{
    background-color: lightslategray;
}
.grid-container{
    display: grid;
    align-content: center;
    justify-content: center;
    width: 30vw;
    height: 62vh;
    margin: auto;
    margin-top: 10vh;
    background-color: #666666;
    border-radius: 3rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: [first] 1fr [second] 1fr [third] 1fr [fourth] 1fr [fifth] 1fr [last] 1fr [final] 1fr [final2];
    font-family: monospace;
    min-width: 25vw;
    min-height: 25vh;
    max-height: 25vh;
    margin-bottom: 18vh;
    max-width: 25vw;
}
button{
    background-color: #3a4452;
    color: black;
    box-shadow: seashell 3px 3px 8px;
    padding: 1vh;
    margin: 4px;
    border-radius: 1rem;
    font-size: 3vh;
}
input{
    display: flex;
    width: 25vw;
    height: 8vh;
    margin-bottom: 2vh;
    background-color: #3a4452;
    box-shadow: white 3px 3px 8px;
    font-size: 5vh;
    border-radius: 1rem;
    overflow: none;
    flex-basis: auto;
}
button:hover{
    color: white;
}